:root {
  --font-small: 18px;
  --font-normal: 24px;
  --font-big: 26px;
  --color-white: #ffffff;
  --color-purple: #793698;
  --color-grey: #24292e;
  --github-font: -apple-system, BlinkMacSystemFont, Segoe UI, Noto Sans, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --color-light-grey: #d3d3d3;
  --color-deep-purple: #602f6b;
}

$colorWhite: #ffff;
$colorPurple: #793698;
$colorGrey: #24292e;
$colorDeepPurple: #602f6b;

$githubFont: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$fontNormal: 24px;
$fontBig: 26px;
