.user-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 800px;
  justify-items: center;
  align-items: center;
  height: 120px;
  background-color: var(--color-deep-purple);
  border: 2px solid var(--color-white);
  border-radius: 20px;
  margin-bottom: 20px;
}

.user-card > p {
  margin: 0 20px;
}
